
{% extends 'main.html'%}


{% block content %}





{% if page == 'login' %}
<div>
    <form  action=""  method="POST">
       {% csrf_token %}
   
       <label>Username</label>
       <input  type="text"  name="username"  placeholder="Enter username">
      

       <label>Password</label>
       <input  type="password"  name="password"  placeholder="Enter password">
     
       <input  type=submit  value="Login">

       <p>Haven't registered yet</p>
       <a  href="{% url 'register' %}">Register User</a>
    </form>
    
</div>

{% else %}

<div>
    <form  action=""  method="POST">
        {% csrf_token %}
         
        {{form.as_p}}
        
        <input  type=submit  value="Register">
        <p>Already registered </p>
        <a  href="{% url 'login' %}">Login</a>

     </form> 
</div>
{% endif %}



{% endblock content %}